* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    height: 150px;
}

#logo_image {
    height: 100px;
    width: 100px;
    margin: 25px 0px 25px 35px;
    vertical-align: middle;
}

.main_title{
    display: inline-block;
    font-size: 65px;
    font-weight: 900;
    font-family:'Helvetica Neue', sans-serif;
    vertical-align: middle;
}

body {
    background: lightgrey;
}

main {
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.actions_bar {
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
}

button {
    height: 30px;
    font-size: 12px;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: 600;
    margin: 10px 5px 10px 15px;
}

.add_task_button {
    background-color: rgb(71, 173, 240);
    border: none;
    color: white;
}

.add_section_button {
    border-color: lightgrey;
    color: lightgrey;
}